exists () {
  type "$1" >/dev/null 2>/dev/null
}

# Guix development environment
if [[ -d /run/current-system ]]; then
  if exists guix; then
    eval "$(guix shell -m manifest.scm --search-paths)"
    export CC=gcc
    export LIBCLANG_PATH=$(dirname $(find $(guix build clang-toolchain) -name 'libclang.so' | head -1))
    export LD_LIBRARY_PATH="$(dirname $(find $(guix build gcc-toolchain) -name 'libgcc_s.so.1' | head -1))${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
  fi
fi

# Nix development environment
if [[ -d /nix/store ]]; then
  watch_file rust-toolchain.toml
  watch_file crates.nix
  
  use flake .
fi
